################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QtOpenCV_HSV_VS/opencv_world411.dll
/QtOpenCV_HSV_VS/opencv_world411d.dll
/QtOpenCV_HSV_VS/opencv_videoio_ffmpeg411_64.dll
/.vs/QtOpenCV_HSV_VS/v16/ipch/AutoPCH
/.vs/QtOpenCV_HSV_VS/v16
